.trek-badge {
  height: auto;
  margin: 60px auto 0;
  width: 150px;

  @media ( min-width: $medium ) {
    width: 250px;
  }

  > svg {
    height: 100%;
    width: 100%;
  }
}

#space-trek {
  transform-origin: center;

  #Badge {
    fill-opacity: 0;
  }

  #highlight {
    opacity: 0;
  }

  #cow-head {
    opacity: 0;
  }

  #closed-eyes {
    display: none;
  }
}

