.cow-sitting-svg {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  position: relative;
  width: 300px;

  @media screen and ( min-width: $medium ) {
    left: -30px;
    height: 400px;
    width: 400px;
  }

  > svg {
    height: 100%;
    width: 100%;
  }
}

#cow-animated {
  height: 100%;
  width: 100%;
  position: relative;

  #g-mouth {
    display: none;
  }

  #g-eyes-closed {
    display: none;
  }

  #g-eyes-down {
    display: none;
  }

  #Head {
    animation: headbob 4s ease-in-out 0s infinite alternate;
    position: relative;
  }
}