.carousel {
  color: $white;
  text-align: center;

  .container {
    margin: auto;
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
}

.slide img {
  border: 4px solid black;
  border-radius: 8px;
  max-width: 100%;
}

.carousel .controls {
  display: none;

  @media screen and ( min-width: 600px ) {
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: calc( 50% - 50px );
    width: 100%;
  }

  > button {
    background: transparent url('../svg/chevron.svg') 0/contain no-repeat;
    border: 0;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 100px;
    position: absolute;
    overflow: hidden;
    width: 40px;

    &:active {
      margin-top: 5px;
    }
  }

  .previous {
    left: -40px;
    transform: rotate(180deg);
  }

  .next {
    right: -40px;
  }
}
