.site-footer {
  padding: 30px 30px 40px;
  text-align: center;

  @media( min-width: $medium ) {
    text-align: right;
  }

  body.home & {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 100%;

    @media( min-width: $medium ) {
      width: inherit;
    }
  }
}

.social-links {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;

  > li {
    display: inline-block;
    margin-right: 40px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    color: $white;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
    position: relative;
    text-decoration: none;

    body.home & {
      font-size: 20px;
    }
  }
}