.site-header {
  height: 80px;
  position: fixed;
  top: 0;
  transition: background 0.4s, height 0.4s;
  width: 100%;
  z-index: 8;

  > .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
  }

  &.fixed {
    background: rgba( $white, .95 );
    box-shadow: 0 5px 10px -2px rgba( $black, 0.2 );
    height: 70px;

    .home-link {
      color: $black;
    }

    .nav-toggle > span {
      background: $black;
    }
  }
}

.site-header.opened {
  .overlay {
    height: 100vh;
    opacity: 1;
    transform: translateX( 200px);
  }

  .main-navigation {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.home-link {
  color: $white;
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  text-transform: lowercase;
  transition: transform 0.8s linear, opacity 0.2s, color 0.6s;
  z-index: 10;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  @media ( min-width: $tiny ) {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .site-header.opened & {
    color: $white;
  }
}

.overlay {
  background: rgba( $blue-dark, 0.95 );
  left: -200px;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateX( 0 );
  transition: transform 0.4s, opacity 0.4s;
  width: 100%;
  z-index: 9;
}

.main-navigation {
  align-items: center;
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.main-navigation > li {
  list-style: none;
  text-align: center;
  transform: scale( 1 );
  transition: all 0.3s ease;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  &:hover, &:focus, &:active {
    transform: scale( 1.2 );

    a {
      text-shadow: none;
    }
  }

  img {
    max-width: 100%;
    width: 100%;
  }

  a {
    color: $white;
    display: block;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    text-shadow: 1px 1px 2px $black;
  }
}
