.skip-links {
  margin: 0;
  padding-left: 0;
  position: relative;

  > li {
    height: 0;
  }

  > li > a {
    height: 0;
    font-size: 0;
    color: transparent;
  }
}

.skip-links > li > a:focus {
  background: $strawberry;
  color: $white;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: auto;
  letter-spacing: 1px;
  padding: 15px 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 100%;
  z-index: 9;
}
