.idea
.DS_Store
.sass-cache
node_modules

public/css
public/img
public/js
public/svg

app/src/vendor
app/src/img/portfolio
app/src/img/about

app/includes/config/auth.js
app/includes/config/portfolio-items

app/views/partial/analytics.hbs
