/* head bob */
@keyframes headbob {
  0% { transform: rotate( 0deg ) translateY( 0px ) translateX( 0px ); }
  100% { transform: rotate( -15deg ) translateY( 100px ) translateX( -100px ); }
}

/* jelly */
@keyframes jelly {
  0% { transform: scale3d( 1, 1, 1 ); }
  30% { transform: scale3d( 1.25, 0.75, 1 ); }
  40% { transform: scale3d( 0.75, 1.25, 1 ); }
  50% { transform: scale3d( 1.15, 0.85, 1 ); }
  65% { transform: scale3d( 0.95, 1.05, 1 ); }
  75% { transform: scale3d( 1.05, 0.95, 1 ); }
  100% { transform: scale3d( 1, 1, 1 ); }
}
.animation-jelly {
  animation: jelly 0.9s both;
}

/* fade in*/
@keyframes fade-in {
  0% {
    filter: blur( 12px );
    opacity: 0;
  }
  100% {
    filter: blur( 0px );
    opacity: 1;
  }
}

/* shooting star*/
@keyframes shooting-star {
  0% { left: 10%; opacity: 1; }
  60% { left: 70%; opacity: 0;  }
  100% { left: 0; opacity: 0; }
}

@keyframes rotate {
  0% { transform: rotateY( 0deg ) }
  100% { transform: rotateY( 360deg ) }
}
