<section class="carousel">
  <div id="slider-container" class="container">
    <div id="slider" class="hidden" data-folder="{{folder}}"></div>
    <div id="controls" class="controls"><button id="prev" class="previous">Previous</button><button id="next" class="next">Next</button>
    </div>
  </div>
</section>
