<footer id="js-footer" class="site-footer">
  <ul class="social-links">
    <li>
      <a href="https://github.com/mimikim/" rel="noopener" target="_blank" aria-label="Github" class="icon-github">github</a>
    </li>
    <li>
      <a href="http://www.linkedin.com/in/mimikimwebdeveloper" rel="noopener" target="_blank" aria-label="Linkedin" class="icon-linkedin-filled">linkedin</a>
    </li>
  </ul>
</footer>
