<footer id="js-footer" class="site-footer">
  <ul class="social-links">
    <li>
      <a href="https://github.com/mimikim/" rel="noopener" target="_blank" aria-label="Github" class="icon-github" data-track data-category="Footer Social Media" data-action="Github" data-label="{{title}}">github</a>
    </li>
  </ul>
</footer>
