<header class="site-header" id="js-header" itemscope itemtype="http://schema.org/WPHeader">

  <div class="container">
    <a href="/" itemscope itemtype="http://schema.org/Organization" class="home-link" data-track data-category="Menu" data-action="Clicked - Homepage" data-label="Header Menu Homepage">See You Space Cow</a>

    <button class="nav-toggle" id="js-nav-toggle" aria-pressed="false" data-track data-category="Menu" data-action="Hamburger Toggled" data-label="">
      <span class="screen-reader-text">Toggle Navigation Menu</span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>

    <nav class="overlay" id="js-navigation"  itemscope itemtype="http://schema.org/SiteNavigationElement" aria-expanded="false">
      <ul class="main-navigation">
        <li>
          <a href="/about/" itemprop="url" data-track data-category="Menu" data-action="Clicked Menu Item" data-label="About">About</a>
        </li>
        <li>
          <a href="/portfolio/" itemprop="url" data-track data-category="Menu" data-action="Clicked Menu Item" data-label="Portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/contact/" itemprop="url" data-track data-category="Menu" data-action="Clicked Menu Item" data-label="Contact">Contact</a>
        </li>
      </ul>
    </nav>

  </div>

</header>