<a href="/portfolio/{{url}}/" class="item" tabindex="0">
  <figure>
    <img src="/img/placeholder.png" class="responsive lazyload" data-src="{{thumb}}" alt="portfolio thumbnail picture for {{name}}">
    <figcaption>{{name}}</figcaption>
  </figure>
</a>