{{#displaySkipLinks title}}
<ul class="skip-links">
  <li>
    <a href="#js-header">Skip to Navigation</a>
  </li>
  <li>
    <a href="#js-main">Skip to Content</a>
  </li>
  <li>
    <a href="#js-footer">Skip to Footer</a>
  </li>
</ul>
{{/displaySkipLinks}}