<span class="svg-star" aria-hidden="true">
  <svg width="45" height="46" viewBox="0 0 45 46" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M26.082 3C21.694 14.12 23.435 20.122 3 21.28 12.691 23 23.706 28.203 21.293 43c9.265-14.797 2.562-17.378 21.054-17.957C28.84 19.77 29.126 15.013 26.082 3z" id="Star" stroke="#000" stroke-width="5" fill="#EBE4B0"/></g></svg>
</span>