* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

a {
  color: $blue-dark;
  transition: color 0.3s ease-out;

  &:hover,
  &:active,
  &:focus {
    color: $strawberry;
  }
}