.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @media screen and ( min-width: $medium ) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.inline-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;

  > li {
    display: inline-block;
  }
}

.flex {
  display: flex;
}

img.responsive {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.fade-in {
  animation: fade-in 0.6s;
}
