// breakpoints
$tiny: 400px;
$small: 500px;
$medium: 768px;
$large: 992px;
$x-large: 1024px;

// fonts
$sans-serif: 'Proxima Nova', Helvetica, sans-serif;

// colors
$black: #090A0F;
$blue: #313640;
$blue-dark: #121526;
$brown: #70695A;
$brown-light: #B8A381;
$yellow: #EBE4B0;
$yellow-light: #F5F4D5;
$white: #fafafa;
$pink: #C96576;
$pink-light: #DB9CA7;

// uniform ranks
$blue-shirt: #ADD8E6;
$gold-shirt: #FFFFE1;
$red-shirt: #FFB6C1;

$strawberry: #E50050;