body.about {
  @include starry-bg( left top, 50% 20% );

  .svg-star {
    display: none;

    @media screen and  ( min-width: $small ) {
      display: inline-block;
      float: left;
      margin-right: 10px;
      margin-top: 10px;
    }
  }
}

.happycow {
  @media screen and ( min-width: $small ) {
    background: url( '../img/harvestmoon-cow-tail-wag.png' ) 0 100% no-repeat;
    height: 132px;
    width: 162px;
    margin: 0 auto 20px 20px;
    animation: tail-wagging 1s steps(2) infinite;
    float: right;
  }
}

.babycow {
  @media screen and ( min-width: $small ) {
    background: url( '../img/harvestmoon-cow-baby-sleeping.png' ) 0 100% no-repeat;
    height: 84px;
    width: 144px;
    margin: 0 20px 0 auto;
    animation: cow-sleeping 2.5s steps(2) infinite;
    float: left;
    transform: scaleX( -1 );
  }
}

.chickenflap {
  @media screen and ( min-width: $small ) {
    background: url( '../img/chicken-moving-front.png' ) 0 100% no-repeat;
    height: 80px;
    width: 80px;
    margin: 0 20px 0 auto;
    animation: chicken-flap 0.8s steps(2) infinite;
    float: left;
  }
}