body.about {
  @include starry-bg( left top, 50% 20% );

  .svg-star {
    display: none;

    @media screen and  ( min-width: $small ) {
      display: inline-block;
      float: left;
      margin-right: 10px;
      margin-top: 10px;
    }
  }
}

.happycow {
  @media screen and ( min-width: $small ) {
    background: url( '../img/harvestmoon-cow-tail-wag.png' ) 0 100% no-repeat;
    height: 132px;
    width: 162px;
    margin: 0 auto 20px 20px;
    animation: tail-wagging 1s steps(2) infinite;
    float: right;
  }
}