body.portfolio-item {
  @include starry-bg( right bottom );
}

.page-title {
  color: $black;
  font-size: 35px;
  letter-spacing: 3px;
  line-height: normal;
  margin-top: 25px;
  text-align: center;

  @media ( min-width: 600px ) {
    font-size: 50px;
  }
}
