<div class="container">
    {{> svg-badge }}

    <section class="content-container">
        <h1 class="screen-reader-text">About This Site</h1>
        {{> breadcrumb this }}
        <p>Hello! Thanks for visiting my site. I am a senior web engineer who has worked with several global agencies and multinational brands. <a href="/portfolio" data-track data-category="About Page" data-action="Clicked Portfolio">Check out some of my projects</a>!</p>
        {{> svg-star }}
        <p class="no-indent">This website is written on Express with NodeJS, deployed on an Ubuntu server via <a href="https://www.digitalocean.com/" target="_blank">Digital Ocean</a>. It makes use of a modern technology stack with ES6 JavaScript, mobile-first SCSS, and Handlebars. Grunt, Bower, and npm is used for task automation and compiling assets. <a href="https://github.com/mimikim/seeyouspacecow-node" target="_blank" data-track data-category="About Page" data-action="Clicked Github Repo">Read the code on Github</a>!</p>
        <p>I have been exploring creative expression with web technologies since I was a pre-teen. I bought my first domain name and hosting space when I was 13, and before then I managed several personal interest sites on Geocities and Angelfire.</p>
        <p class="no-indent"><span class="babycow"></span>When I am not busy developing websites, I can be found tending to my plants, creating artwork using digital or traditional mediums, or reading. My favorite genre is science fiction, but lately I have been focusing more on non-fiction topics such as history or books that teach a skill set. I also love watching episodes of Law&nbsp;&amp;&nbsp;Order or Star&nbsp;Trek.</p>
        <p><span class="happycow"></span>I was in love with SNES emulation as a child, and the video game <a href="https://en.wikipedia.org/wiki/Harvest_Moon_(video_game)" target="_blank" data-track data-category="About Page" data-action="Clicked Harvest Moon" aria-label="Read more about Harvest Moon">Harvest&nbsp;Moon</a> left a strong impression on me- cute sprite cows in particular. I've since doodled a little cow everywhere, and they are the inspiration behind this site's theme.</p>
        <p>Yes, I have played <a href="https://www.stardewvalley.net/" target="_blank">Stardew Valley</a> and yes, I LOVE IT!! Actually, my retirement dream has always been to live on a modest plot of land, cultivate crops, and raise rescued farm animals and dogs.</p>
        <p>"See You Space Cow" is a play on <a href="https://en.wikipedia.org/wiki/Cowboy_Bebop" target="_blank" data-track data-category="About Page" data-action="Clicked Cowboy Bebop" aria-label="Read more about Cowboy Bebop">Cowboy&nbsp;Bebop's</a> famous postscript: "see you space cowboy". It just seemed like the most natural progression...</p>
        <p class="no-indent"><span class="chickenflap"></span>Got any questions or just want to say hello? You are always welcome to <a href="/contact" data-track data-category="About Page" data-action="Clicked Contact">send me a message</a>!</p>
    </section>
</div>