<section class="container" id="js-contact-container">
  <h1 class="screen-reader-text">Contact Form Page</h1>

  <h2 class="contact-headline loading" id="js-contact-headline">Standing by for your broadcast</h2>

  <form id="js-contact-form" class="contact-form">
    <label for="form-name">Name:</label>
    <input type="text" class="input" placeholder="Name" id="form-name" autocomplete="name" data-track data-category="Contact Form" data-action="Clicked Name">

    <label for="form-email">Email:</label>
    <input type="email" class="input" placeholder="Email" id="form-email" autocomplete="email" data-track data-category="Contact Form" data-action="Clicked Email">

    <label for="form-message">Message:</label>
    <textarea class="input" id="form-message" placeholder="Enter your message..." data-track data-category="Contact Form" data-action="Clicked Message"></textarea>

    <span id="js-error-message" class="error-message"></span>

    <input type="submit" class="submit button" value="Send" data-track data-category="Contact Form" data-action="Form Submitted">
  </form>

</section>
