<section class="contact-container">
  <h1 class="contact-headline">
    Standing by for your broadcast
  </h1>

  <form id="js-contact-form" class="contact-form">
    <label for="form-name">Name:</label>
    <input type="text" class="input" placeholder="Name" id="form-name" autocomplete="name">

    <label for="form-email">Email:</label>
    <input type="email" class="input" placeholder="Email" id="form-email" autocomplete="email">

    <label for="form-message">Message:</label>
    <textarea class="input" placeholder="Enter your message..."></textarea>

    <span id="js-error-message" class="error-message"></span>

    <input type="submit" class="submit button" value="Submit">
  </form>

</section>
