<div class="error-content">
  <div class="text">
    <h1 class="error-title">{{message}}: {{error.status}}</h1>
    <p>
      This page does not exist.
      <br>
      <a href="/" data-track data-category="404 Page" data-action="Clicked Homepage">Please return to the homepage!</a>
    </p>
  </div>
  {{> svg-cow }}
</div>