<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<header class="site-header" id="js-header" role="banner" itemscope itemtype="http://schema.org/WPHeader">

  <div class="container">
    <a href="http://mkwd.test" itemscope itemtype="http://schema.org/Organization" class="home-link">Mimi Kim Web Developer</a>

    <button class="nav-toggle" id="js-nav-toggle" role="button" aria-pressed="false">
      <span class="screen-reader-text">Toggle Navigation Menu</span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>

    <nav class="overlay" id="js-navigation" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-expanded="false">
      <ul class="main-navigation">
        <li>
          <a href="/portfolio/" itemprop="url">Portfolio</a>
        </li>
        <li>
          <a href="/about/" itemprop="url">About</a>
        </li>
        <li>
          <a href="/blog/" itemprop="url">Blog</a>
        </li>
      </ul>
    </nav>

  </div>

</header>

<main class="site-main" id="js-main" role="main" itemscope itemprop="mainContentOfPage">


  <div class="fullpage-container" id="js-fullpage-container">
    <section class="section first">
      <div class="homepage-heading">
        <h2 class="text">see you<br>
          space cow
        </h2>

        <span class="cow-sitting-svg">
        <svg width="1740" height="1728" viewBox="0 0 1740 1728" xmlns="http://www.w3.org/2000/svg" id="cow-animated"><g fill="none" fill-rule="evenodd" transform="translate(15 15)"><g id="Tail" transform="translate(1290 1292)"><path id="tail-color" fill="#FFF" d="M21.281 92.188l8.461 8.066h13.63l12.136-5.152 12.32-23.454 30.54-41.457 41.87-25.539 63.739-4.46 49.675 6.703 43.2 18.8 37.152 28.512 20.918 22.48 11.062 47.993-1.336 65.718.489 10.52 30.672 14.691-59.239-1.707-6.882-45.37-15.555-73.778-60.945-45.902-77.692-13.157-51.434 27.2-22.374 43.945-39.422 29.55-36.93.126-22.7-11.383z"/><path id="tail-hair-color" fill="#B8A381" d="M328.578 211.074l-15.21 23.774-.259 41.027 15.246 29.836 18.29 11.809 23.714 20.308-11.648 55.512 21.855-14.766 29.727-42.804L421.961 286l-10.121-53.34-32.82-27.472-17.465-2.426z"/><path d="M.602 125.68s36.617 22.307 62.789 8.02c53.156-29.02 40.239-67.717 90.605-88.634 50.366-20.916 98.825 3.9 115.45 11.032 40.033 17.172 57.277 59.185 57.277 95.289 0 56.558 19.123 56.101 4.632 61.797-14.49 5.695-27.875 26.47-20.425 61.974 7.449 35.504 54.382 45.678 54.632 64.252.25 18.574-7.367 51.211-12.535 64.067-5.168 12.855 58.881-49.475 64.674-94.332 5.793-44.858 3.614-93.85-49.305-108.194-17.501-4.744 25.163-105.965-50.634-161.209C279.85 12.112 238.46-2.19 167.27.36 127.33 1.79 96.713 22.385 71.926 64.668 34.6 128.338 19.648 84.043 19.648 84.043" id="tail-path" stroke="#000" stroke-width="30"/></g><g id="Body" transform="translate(300 417)"><path id="body-color" fill="#FFF" d="M377.18.953l68.882 34.055 88.54 58.797 80.836 59.039 81.273 78.601 130.055 140.688 115.64 178.508 74.008 178.523 16.04 111.094-10.556 89.476-36.125 78.891-49.03 47.258-66.485 38.71-91.758 25.696-92.18 11.125-89.578 4.422-93.39-4.305-64.72-2.148-96.624-14.93-130.633-31.336-96.984-38.172-83.555-42.656-27.852-22.258L13.25 938.75 29 932.906l26.508 9.149 57.312 26.703 75.43 30.953 93.172 32.453 56.758 6.93 29.375-7.594-26.953-27.75-75.696-71.867-36.133-73.578-9.78-33.914-16.055 55.062-14.665 65.625-22.656 1.469-32.125-20.024-2.25-23.445 32.117-174.336 14.078-144.36 20.79-163.187 25.453-118.03 43.18-149.438z"/><path d="M27.297 926.559c5.424 0 48.593 22.018 49.613 27.058 1.51 7.457-9.115-.289-22.783 26.426-23.661 46.247-14.913 28.47-34.623 20.644-23.83-9.461-21.18-31.932-11.395-52.949 8.468-18.186 5.391-15.881 15.34-20.32l3.848-.86z" id="hoof" fill="#B8A381"/><path d="M139.557 864.395c6.906 12.923 20.577 19.195 34.927 21.367 7.127 1.078 17.103-3.646 21.528 2.045 3.846 4.946-4.818 11.644-6.12 17.773-2.423 11.41-2.648 23.209-5.011 34.63-.422 2.04-1.243 4.8-3.256 5.333-22.71 6.014-22.636-2.558-39.219-14.395-5.755-4.108-12.887-6.188-18.283-10.757-10.383-8.793 5.3-46.89 11.547-55.584l3.887-.412z" id="hoof2" fill="#B8A381"/><path d="M609.898 156.094s-16.632 9.46-34.882 41.328c-18.25 31.867-78.743 88.039-69.313 192.266 9.43 104.226 78.18 75.601 91.188 169 13.007 93.398 2.39 151.18 22.148 212.835 19.758 61.657 28.063 111.977 82.39 128.141 54.329 16.164 90.298 19.586 125.235 36.281 34.938 16.696 67.766 24.297 95.516 21.57 27.75-2.726 76.406 9.775 108.101-57.85 36.012-76.837-50.351-280.813-50.351-280.813L924.86 511 817.991 363.336 647.461 180.234l-37.563-24.14z" id="body-spot" fill="#646873"/><path d="M375.102.352C642.727 120.484 885.68 423.93 970.992 606.664c68.463 146.644 77.758 291.64 35.188 361.852-42.57 70.21-85.125 153.468-354.422 164.687-150.308 6.262-306.334-.512-437.617-46.195-89.658-31.199-205.153-92.446-212.43-105.469-7.277-13.023 22.074-55.867 22.074-55.867s246.82 144.727 342.41 107.875c25.848-9.965-177.98-105.981-138.953-240.957 11.406-39.45 60.844-214.223 69.953-246.8 9.11-32.58-106.187 345.706-110.804 402.233-1.077 13.182-68.142-11.192-60.805-39.875 20.205-78.989 39.46-213.968 45.14-282.761 6.254-75.721 16.567-165.61 31.493-238.383 26.939-131.347 47.957-187.367 64.488-239.977" id="body-outline" stroke="#000" stroke-width="30" stroke-linecap="round" stroke-linejoin="round"/></g><g id="Head"><path id="helmet-color" fill-opacity=".5" fill="#DCDCDC" d="M121.746 104.98l-38.398 40.336-28.086 43.88-24.692 49.23-16.101 36.586-4.926 40.273-9.031 57.406 6.215 64.11 14.242 48.097 26.82 63.047 38.875 53.696 40.262 40.488 73.953 52.914 74.754 28.176 72.387 16.148 100.46-2.156 102.668-28.055 81.793-42.77 54.371-47.382 62.836-85.442 35.18-101.503-.226-128.192-22.766-73.828-51.219-78.988L653 92.766l-54.14-37.293-60.782-30.844L455.5 1.953l-60.945 1.102-77.266 3.062-64.488 20.004-62.797 28.168-61.027 46.39z"/><path d="M580.176 554.469c-46.574 26.015-115.528 40.941-203.617 53.285-88.09 12.344-147.075-2.988-170.954-21.414-23.878-18.426-71.968-74.887-78.968-122.54-7-47.652-9.575-73.796 18.89-149.929s165.667-119.658 253.645-108.348c87.978 11.311 196.893 41.399 242.558 104.098 24.286 33.344 28.899 54.332 28.899 79.7 0 25.366-12.082 49.074-12.082 49.074s43.777 5.078 52.91 30.91c9.133 25.832 5.64 58.39-10.387 76.39s-16.87-16.957-35.054-38.027-31.157-15.078-31.157-15.078-8.109 35.863-54.683 61.879z" id="face-color" fill="#FFF"/><path id="ear-color" fill="#646873" d="M611.766 286.78l2.996-59.81 12.574-35.878 20.387 9.045 16.716 23.355 5.612 29.627-16.215 32.58-15.19 18.465z"/><path d="M532.844 234.634s-127.028-36.97-132.576-22.929c-11.329 28.666-2.905 71.96 34.47 92.895 24.79 13.886 80.66 12.683 121.354 25.982s101.61 65.695 115.836 53.229c4.533-3.973-3.442-42.388-18.985-69.592s-120.099-79.585-120.099-79.585z" id="Eye-Spot" fill="#646873"/><path id="nose-color" fill="#FDCAD5" d="M315.898 216.188l-21.511 18.816-14.203 53.21-2.973 42.134 1.613 71.492 8.914 41.664 19.805 55.262 22.812 49.546 50.364 61.79-64.82 6.363-59.04-6.363-54.921-29.657-39.887-40.058-22.621-41.621-11.598-75.067v-59.164l28.348-62.515 35.297-39.094 65.382-35.477z"/><ellipse id="left-nostril" fill="#000" transform="rotate(45 236.678 307.678)" cx="236.68" cy="307.68" rx="7.5" ry="17.5"/><ellipse id="right-nostril" fill="#000" transform="rotate(-45 236.678 356.678)" cx="236.68" cy="356.68" rx="7.5" ry="17.5"/><path d="M634.293 304.697s35.045-31.398 35.045-57.679c0-26.28-13.574-30.27-31.933-50.65-9.866-10.954-12.684-7.112-17.825 3.25-15.078 30.386-6.07 51.128-9.076 85.923" id="left-ear" stroke="#000" stroke-width="30"/><path d="M579.895 554.07s-162.048 65.157-269.957 63.157c-107.91-2-175.708-85.227-186.096-169.051-5.115-41.27-4.928-136.242 74.414-192.172 79.341-55.93 230.48-54.36 300.398-31.645 95.017 30.871 149.34 90.882 158.83 102.649 17.022 21.105 26.812 71.367 5.23 97.84-21.582 26.472 17.695 16.738 36.764 28.082 19.07 11.343 20.55 29.324 20.55 51.293 0 21.968-19.297 52.336-35.627 37.308-16.33-15.027-9.028-55.832-55.302-49.472" id="face-path" stroke="#000" stroke-width="30" stroke-linecap="round" stroke-linejoin="round"/><path d="M287.195 51.55c-27.959 9.566-56.099 25.213-71.879 40.704-16.113 15.818 10.541 3.652 18.047 1.64 38.73-10.378 85.77-30.17 128.076-39.953 37.752-8.73 88.5-10.7 183.397 16.836-68.198-41.826-185.123-44.037-257.64-19.226z" id="helmet-highlight" fill="#FFF"/><ellipse id="helmet-outline" stroke="#000" stroke-width="30" cx="393.5" cy="370" rx="393.5" ry="370"/><g id="g-eyes-open" transform="translate(440 240)" fill="#000"><path d="M30.709 4.05C23.742 3.02 16.807.162 9.809.956c-17.774 2.016-6.482 23.37 6.394 25.65 14.49 2.567 30.385-16.52 11.906-22.978" id="Left-Eye"/><path d="M22.438 123.724c-22.649 9.117-.875 34.732 17.697 27.106 22.978-9.435 6.135-30.66-13.93-27.782l-3.767.676z" id="Right-eye"/></g><g id="g-eyes-closed" transform="translate(444 244)" stroke-linecap="round" stroke-width="20" stroke="#000" stroke-linejoin="round"><path id="Right-eye-closed" d="M44.65 147.889L28.295 123.91 14.518 147.89"/><path id="Left-eye-closed" d="M30.344 4.205L16.012 17.068.146.498"/></g><path d="M473.918 362.375s-22.93 20.723 2.016 32.785m-19.907-154.316s-24.5 9.328 1.102 22.746" id="g-eyes-down" stroke="#000" stroke-width="20" stroke-linecap="round" stroke-linejoin="round"/></g></g></svg>      </span>
      </div>

    </section>

    <section class="section second">
      <div class="container">

        <div class="content">
          <div class="trek-badge" id="js-trek-badge">
            <svg width="613" height="934" viewBox="0 0 613 934" xmlns="http://www.w3.org/2000/svg"><title>space-trek</title><g id="Page-1" fill="none" fill-rule="evenodd"><g id="space-trek" transform="translate(10 10)"><path d="M303.624 0s229.808 311.069 281.79 792.996c4.44 41.155 7.39 63.14 7.39 74.742 0 19.657-57.577-359.613-205.745-314.106C213.307 606.996 55.576 858.954 7.25 911.517c-27.856 30.297 27.262-285.853 119.285-551.77S303.624 0 303.624 0z" id="Badge" stroke="#000" stroke-width="20" fill="#CCCED4" stroke-linecap="round" stroke-linejoin="round"/><g id="cow-head" transform="translate(210 243)"><path d="M69.503 42.97c10.316-4.092 65.313-11.8 84.278 11.538 18.966 23.338 29.747 57.425 36.445 89.559s12.479 66.044 6.24 81.165c-6.24 15.121-13.92 30.316-29.935 36.271-16.014 5.955-80.11 11.965-97.028 3.562-16.916-8.404-39.78-25.346-41.423-42.413-1.642-17.068-4.993-98.21 3.458-129.296 8.452-31.085 27.65-46.293 37.965-50.385zm74.817-.491s-4.58-32.422 4.725-35.795c9.305-3.373 22.133-1.123 22.133-1.123L144.32 42.479z" id="face-color" fill="#FFF"/><path d="M114.257 42.888c16.972 15.286-17.302 33.592-21.104 56.25-2.423 14.442 2.032 29.29 1.264 43.913-1.208 23-38.323 16.977-49.608 21.028-.952.341-16.014 15.73-21.677 11.26-2.598-2.05-5.297-99.696 34.08-123.365 27.922-16.782 57.045-9.086 57.045-9.086zM22.314 31.156c12.114.552 42.94 26.14 18.028 23.44-24.912-2.7-37.457-18.904-37.457-18.904s7.315-5.087 19.429-4.536z" id="spot-color" fill="#868C9C"/><path d="M197.5 201.528s-22.056-12.698-46.375-12.698c-24.32 0-72.934-2.913-89.531 8.937-16.597 11.851-30.052 26.535-30.052 26.535l14.055 19.886 27.67 24.427 80.337-1.698 37.587-25.68 6.309-39.71z" id="nose-color" fill="#FFD9E2"/><path d="M69.503 42.97c10.316-4.092 65.313-11.8 84.278 11.538 18.966 23.338 29.747 57.425 36.445 89.559s12.479 66.044 6.24 81.165c-6.24 15.121-13.92 30.316-29.935 36.271-16.014 5.955-80.11 11.965-97.028 3.562-16.916-8.404-39.78-25.346-41.423-42.413-1.642-17.068-4.993-98.21 3.458-129.296 8.452-31.085 27.65-46.293 37.965-50.385z" id="face-outline" stroke="#000" stroke-width="16"/><path d="M103.111 215.111s2.9 3.886 9.345 6.216l-9.345-6.216zm48.539-2.667s-3.712 4.534-7.65 5.91l7.65-5.91z" id="nose" stroke="#000" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/><path d="M91.055 143.292s-11.51-29.907-24.055 0m89.055-6s-11.51-29.907-24.055 0" id="closed-eyes" stroke="#000" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M143.387 150.076c-5.356.292-11.278-3.765-9.438-14.17 1.839-10.405 2.225-11.136 8.793-11.645 3.787-.294 7.403 3.303 7.403 11.871 0 8.57-1.402 13.653-6.758 13.944zm-64.854-8.636c-5.706 0-11.134-2.517-9.326-10.087 1.808-7.57 3.62-13.555 9.326-13.555s7.81 3.67 7.81 10.198c0 6.529-2.104 13.444-7.81 13.444z" id="eyes" fill="#000" transform="rotate(-10 109.499 133.944)"/><path d="M53.092 50.132l-4.068 8.472C24.195 56.222-11.673 37.452 3.708 31.76c6.557-2.426 19.271-8.105 31.382 0 12.112 8.105 13.713 12.076 18.002 18.372zm84.686-12.79c.462-12.752-.835-19.731 9.415-31.42 5.269-6.008 23.835-9.912 27.41.806 1.486 4.458-8.86 18.324-12.096 21.753-5.138 5.446-11.315 9.808-16.972 14.712l-7.757-5.85z" id="left-ear" stroke="#000" stroke-width="16"/></g><path d="M467.167 398.423c18.156 76.156-46.115-179.446-152.487-272.466 0-2.523-10.034-70.521-10.034-83.803 0-13.281 134.576 228.355 162.521 356.27zM64.997 801.074s58.5-99.195 140.519-198.433c45.087-54.554 111.87-45.164 111.87-45.164s-72.476 38.386-105.804 69.574C178.254 658.238 64.996 801.074 64.996 801.074z" id="highlight" fill="#FFF"/></g></g></svg>          </div>
          <div class="text">

            <h2 class="heading">Where No Cow Has Gone Before&hellip;</h2>

            <div class="card-container">

              <div class="button red card" data-a11y-dialog-show="my-accessible-dialog" role="button">
                <span class="title">HTML, CSS</span>
                <span class="text">Semantic HTML5. Modern transitions and animations through CSS3. Cross browser friendly, mobile responsive.</span>
              </div>
              <div class="button blue card" data-a11y-dialog-show="my-accessible-dialog" role="button">
                <span class="title">JavaScript</span>
                <span class="text">Vanilla JavaScript. Next generation ES6. Extensive jQuery experience, AJAX, familiarity with Angular</span>
              </div>
              <div class="button gold card" data-a11y-dialog-show="my-accessible-dialog" role="button">
                <span class="title">PHP</span>
                <span class="text">Custom CMS development through WordPress or flat HTML & PHP websites</span>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

    <section class="section third">
      <div class="container">
        <h2>Featured Work</h2>
        <div class="featured-slider" id="js-homepage-slider">
        </div>
        <a href="http://mkwd.test/portfolio/" class="button gold portfolio-button">See Portfolio</a>
        <ul class="social-links">
          <li>
            <a href="https://github.com/mimikim/" target="_blank" aria-label="Github" class="icon-github">github</a>
          </li>
          <li>
            <a href="http://www.linkedin.com/in/mimikimwebdeveloper" target="_blank" aria-label="Linkedin" class="icon-linkedin">linkedin</a>
          </li>
        </ul>
      </div>
    </section>
  </div>

</main>


<div class="dialog" aria-hidden="true" id="my-accessible-dialog">
  <div class="dialog-overlay" tabindex="-1" data-a11y-dialog-hide></div>
  <div class="dialog-content" aria-labelledby="dialogTitle" aria-describedby="dialogDescription" role="dialog">
    <div role="document">
      <button data-a11y-dialog-hide class="dialog-close" aria-label="Close this dialog window">&times;</button>

      <h1 id="dialogTitle">Subscribe to ESPI Newsletter</h1>

      <p id="dialogDescription">Fill in the ridiculously small form below to receive our ridiculously cool newsletter!</p>

      <form action="http://edenspiekermann.us10.list-manage.com/subscribe/post?u=927d6a7cf437da88aac7a87ec&amp;id=6823ab7bb8" method="post" target="_blank">
        <label for="email">Email (required)</label>
        <input type="email" name="EMAIL" id="email" placeholder="john.doe@gmail.com" required>
        <button type="submit" name="button">Sign up</button>
      </form>
    </div>
  </div>
</div>