<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body itemscope itemtype="http://schema.org/WebPage" class="home page-template-default page">
{{{body}}}
<script src="/js/vendor.min.js"></script>
<script src="/js/scripts.min.js"></script>
</body>
</html>