<div class="container">

  <h1 class="page-title">Portfolio</h1>
  <span class="category-filters">Filter by Category:</span>
  <nav class="category-navigation" id="js-portfolio-filters">
    <button class="button" data-type="email">HTML Email</button>
    <button class="button" data-type="project">Projects</button>
    <button class="button" data-type="static">Static Site</button>
    <button class="button" data-type="wordpress">WordPress</button>
  </nav>

  <button id="js-reset" class="button">Reset All</button>

  <section id="js-portfolio-results" class="portfolio-container">

    {{#each portfolioThumbs}}
      {{> portfolio-thumb}}
    {{/each}}

  </section>

</div>
