
<section class="content-container">

  <p>
    Hello! Thanks for visiting. I am a web developer who has worked with several top‑tier agencies in the United States.
  </p>

  <p>
    I have been exploring creative expression with web technologies since I was a pre-teen. I bought my first domain when I was 14, and before then I managed several sites on Geocities and Angelfire.
  </p>

  <p>
    When I am not busy developing websites, I can be found tending to my cacti and carnivorous plants, creating paintings using digital or traditional mediums, or binge-watching episodes of Law&nbsp;&amp;&nbsp;Order or Star&nbsp;Trek.
  </p>

  <p>
    I was in love with SNES emulation as a child, and the video game <a href="https://en.wikipedia.org/wiki/Harvest_Moon_(video_game)" target="_blank">Harvest&nbsp;Moon</a> left a strong impression on me. Cute sprite cows in particular. I've since doodled a little cow everywhere, and they are the inspiration behind this site's theme.
  </p>

  <p>
    "See You Space Cow" is a play on Cowboy&nbsp;Bebop's famous postscript: "see you space cowboy". It just seemed like the most natural progression...
  </p>
</section>