<div class="container">
    <h1 class="page-title">Portfolio</h1>
    {{> breadcrumb this }}

    <nav class="category-navigation" id="js-portfolio-filters">
        <span class="category-filters">Filters:</span>
        {{#each filters}}
            {{> filter-button}}
        {{/each}}
    </nav>

    <button id="js-reset" class="button category-reset" data-track data-category="Category Filter" data-action="Reset Filters" data-label="">Reset All Filters</button>

    <section class="portfolio-results">
        <h2 class="screen-reader-text">Portfolio Results</h2>
        <div id="js-portfolio-results" class="portfolio-container">
            {{#each portfolioThumbs}}
                {{> portfolio-thumb}}
            {{/each}}
        </div>
    </section>

</div>
