<div class="container">

  <h1 class="page-title">Portfolio</h1>
  <span class="category-filters">Filter by Category:</span>
  <nav class="category-navigation" id="js-portfolio-filters">
    <button class="button medium-padding ga-tracking" data-category-id="19" data-event-category="Category Filter" data-event-action="Clicked Filter" data-event-label="HTML Email">HTML Email</button>
    <button class="button medium-padding ga-tracking" data-category-id="20" data-event-category="Category Filter" data-event-action="Clicked Filter" data-event-label="Personal">Personal</button>
    <button class="button medium-padding ga-tracking" data-category-id="21" data-event-category="Category Filter" data-event-action="Clicked Filter" data-event-label="Static Site">Static Site</button>
    <button class="button medium-padding ga-tracking" data-category-id="22" data-event-category="Category Filter" data-event-action="Clicked Filter" data-event-label="WordPress">WordPress</button>
  </nav>

  <button id="js-reset" class="button">Reset All</button>

  <section id="js-portfolio-results" class="portfolio-container">

    <a href="/portfolio/2017-johns-hopkins-graduation-commencement/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/jhu/jhu-02.jpg" class="responsive">
        <figcaption>
          2017 John&#8217;s Hopkins Graduation Commencement</figcaption>
      </figure>
    </a>


    <a href="/portfolio/baltimore-city-library-locations/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/baltimorecitylibrarylocations/bcc_library_locations_01.jpg" class="responsive">
        <figcaption>
          Baltimore City Library Locations</figcaption>
      </figure>
    </a>


    <a href="/portfolio/calculate-bra-size-web-app/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/calculatebrasizeapp/bra_web_app_01.jpg" class="responsive">
        <figcaption>
          Calculate Your Bra Size Web App</figcaption>
      </figure>
    </a>


    <a href="/portfolio/camel-emails/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/emails/camel/camel_07.jpg" class="responsive">
        <figcaption>
          Camel Emails</figcaption>
      </figure>
    </a>


    <a href="/portfolio/feed-jack-html5-canvas-game/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/feedjack/feed_jack_01.jpg" class="responsive">
        <figcaption>
          Feed Jack: HTML5 Canvas Game</figcaption>
      </figure>
    </a>


    <a href="/portfolio/miner-kasch/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/minerkasch/miner_kasch_01.jpg" class="responsive">
        <figcaption>
          Miner &#038; Kasch</figcaption>
      </figure>
    </a>


    <a href="/portfolio/marlow-industries-emails/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/emails/marlow/marlow_01.jpg" class="responsive">
        <figcaption>
          Marlow Industries Emails</figcaption>
      </figure>
    </a>


    <a href="/portfolio/ashers-email/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/emails/ashers/ashers_03.jpg" class="responsive">
        <figcaption>
          Ashers Email</figcaption>
      </figure>
    </a>


    <a href="/portfolio/ashers-404-page-popup/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/ashers404/ashers_02.jpg" class="responsive">
        <figcaption>
          Asher&#8217;s 404 Page and Popup</figcaption>
      </figure>
    </a>


    <a href="/portfolio/td-ameritrade-retirement-planning/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/tdameritrade-retirement/tda_retirement_01.jpg" class="responsive">
        <figcaption>
          TD Ameritrade Retirement Planning</figcaption>
      </figure>
    </a>


    <a href="/portfolio/td-ameritrade-rollover-ira-sitelet/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/tdameritrade-rollover/tda_rollover_01.jpg" class="responsive">
        <figcaption>
          TD Ameritrade Rollover IRA Sitelet</figcaption>
      </figure>
    </a>


    <a href="/portfolio/td-ameritrade-mobile-app-sitelet/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/tdameritrade-mobileapp/tda_sitelet_01.jpg" class="responsive">
        <figcaption>
          TD Ameritrade Mobile App Sitelet</figcaption>
      </figure>
    </a>


    <a href="/portfolio/td-ameritrade-emails/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/emails/tdameritrade/tda_01.jpg" class="responsive">
        <figcaption>
          TD Ameritrade Emails</figcaption>
      </figure>
    </a>


    <a href="/portfolio/liberty-mutual-insurance-emails/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/emails/libertymutual/lmi_01.jpg" class="responsive">
        <figcaption>
          Liberty Mutual Insurance Emails</figcaption>
      </figure>
    </a>


    <a href="/portfolio/dish-tv-emails/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/emails/dishtv/dish_01.jpg" class="responsive">
        <figcaption>
          Dish TV Emails</figcaption>
      </figure>
    </a>


    <a href="/portfolio/pastry-star-pastry-products/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/pastrystar/pastrystar_01.jpg" class="responsive">
        <figcaption>
          Pastry Star: Pastry Products</figcaption>
      </figure>
    </a>


    <a href="/portfolio/ragu-pasta-sauce/" class="item" tabindex="0">
      <figure>
        <img src="/img/portfolio/ragu/ragu_01.jpg" class="responsive">
        <figcaption>
          Ragu: Pasta Sauce</figcaption>
      </figure>
    </a>

  </section>

</div>